<div class="container">
  <div class="row">
    <div class="four columns">
      <img class=u-full-width src=/images/output/{{filename}}1.png>
      </img>
    </div>
    <div class="four columns">
      <img class=u-full-width src=/images/output/{{filename}}2.png>
      </img>
    </div>
    <div class="four columns">
      <img class=u-full-width src=/images/output/{{filename}}3.png>
      </img>
    </div>
  </div>
  <div class="row">
    <div class="four columns">
      <img class=u-full-width src=/images/output/{{filename}}4.png>
      </img>
    </div>
    <div class="four columns">
      <img class=u-full-width src=/images/output/{{filename}}5.png>
      </img>
    </div>
    <div class="four columns">
      <img class=u-full-width src=/images/output/{{filename}}6.png>
      </img>
    </div>
  </div>
</div>
